body {
    background-color: hsl(212, 45%, 89%);
    text-align: center;
    font-family: Outfit;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 25px;
    padding: 15px;
    max-width: 320px;
}
    

h1 {
    color: hsl(218, 44%, 22%);
    font-size: 22px;
    font-weight: 700;
    margin: 25px;
}


h2 {
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    font-size: 15px;
    margin: 0 38px;
    padding-bottom: 20px;
}

.qr {
    position: relative;
    width: 98%;
    border-radius: 10px;
}

.attribution {
    padding-top: 50px;
}
